@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap&subset=cyrillic-ext');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	color: #fff;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	font-family: "Roboto+Mono";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/*------------------------------------*/
body {
	background: #000;
}
p,span {
	color: #fff;
}
.header {
	max-width: 100%;
	background-color: #778d;
}
.header__container {
	text-align: center;
	padding: 32px;
	font-size: 28px;
}
.header__text {
	display: inline-block;
	font-style: italic;
}
.header__item {}

.goose {
	padding: 100px 0px;
}
.goose_container {
	padding: 20px;
	max-width: 920px;
	margin: 0 auto;
	border: 1px solid #999;
	border-radius: 5%;
	box-shadow: inset 5px 10px 50px 5px #999;
}
.goose__title {
	margin: 20px 0px;
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
}
.goose__text {
	display: inline-block;
	max-width: 45%;
	padding: 10px 10px 0px 45px;
	font-size: 22px;
	text-align: left;
	line-height: 140%;
}
.goose__image {
	display: inline-block;
	vertical-align: top;
	max-width: 50%;
	padding: 10px 0px 20px 0px;
	margin: 0px 0px 0px 25px;
}
.goose__image img {
	border-radius: 20%;
	max-width: 100%;
}

.footer {
	background-color: #778d;
}
.footer__container {
	padding: 32px;
}
.footer__text {
	text-align: center;
	font-size: 28px;
}